:host, .splash-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #2E5291;
	color: #ffffff;
	text-align: center;
    
	// padding: 2rem;
}

.splash-content h1 {
	font-size: 3rem;
	margin: 0 0 0.5rem;
	font-weight: 700;
	letter-spacing: 0.5px;
    font-family: Inter, Arial, sans-serif;
}

.splash-content .subtitle {
    font-family: Inter, Arial, sans-serif;
	font-size: 1.125rem;
	margin: 0;
	opacity: 0.95;
}
